body{
margin:0;
font-family:Arial;
background:#f9f9f9;
display:flex;
flex-direction:column;
height:100vh;
}

header{
background:#4caf50;
color:white;
padding:10px;
position:relative;
}

.logo{
width:50px;
position:absolute;
left:10px;
}

.title{
text-align:center;
font-weight:bold;
}

.taskbar{
background:#01579b;
display:flex;
flex-direction:column;
height:calc(100vh - 150px);
}

.item{
padding:10px;
color:white;
cursor:pointer;
}

.item a{
color:white;
text-decoration:none;
}

.item:hover{
background:#0277bd;
}

.iframe-container{
width:100%;
height:calc(100vh - 150px);
border:none;
}

footer{
background:#212121;
color:white;
text-align:center;
padding:10px;
}